---
layout: layouts/base.njk
templateClass: tmpl-post
---

<meta property="og:description" content ="{{ content | safe | striptags | truncate }}" />


<div reversed class="postlist">

<article class="postlist-item postlist-item--active">
	<h1 class="postlist-title">{{ title }}</h1>
	{{ content | safe }}
 	<time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>

</article>

{%- set currentPost = collections.posts | getCollectionItem(page) %}
{% for post in collections.posts | reverse %}
	{% if post == currentPost %}
	{% else %}
	 <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    	<h2 class="postlist-title"><a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>

    {{ post.templateContent | safe | truncate(1440) }}
  
    <p><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
  </article>
	{% endif %}
{% endfor %}
</div>